<!-- 
Presentation of the site can be offloaded to templates, such as this.
These templates are rendered with the Jinja2 template engine.

- Dynamic content sections are marked with double curly braces
- Control statements are marked with curly brackets and %
-->

<html>
    <head>
        {% if title %}
        <title>{{title}} - GardnerOne</title>
        {% else %}
        <title>GardnerOne</title>
        {% endif %}
    </head>
    <body>
        <div>GardnerOne: 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Log in</a>
        </div>
        <hr>
        <!-- Flash messages (messages will be popped from the list once viewed, thus only appearing once) -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>